@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* styles/globals.css */
.card2-shadow {
  box-shadow: 1px 1px 0px 0px #fff inset, -1px -1px 0px 2px #fff,
    -2px -2px 0px 0px #b8cce0, -2px -2px 0px 2px #b8cce0 inset;
}

.card2-hover {
  box-shadow: 8px 8px 0px 0px #b8cce0, -8px -8px 0px 0px #fff;
}

@layer utilities {
  .scrollbar-custom {
    @apply overflow-auto; /* Enable scrolling */
  }
  .scrollbar-custom::-webkit-scrollbar {
    width: 4px; /* Thin scrollbar */
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-gray-200; /* Track color */
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-full; /* Thumb color and rounded edges */
  }
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700; /* Thumb color on hover */
  }
}
